@charset "utf-8";

/*

- z - index 설정 -

haeder . 2000 
footer . 1000

gnb_container . 2000

Quick . 1001


*/




/* 전체 틀 */
#wrap { position: relative; display: block; width: 100%; height: 100%; overflow: hidden; }

/* Header */
#header { position: fixed; left: 0; top: 0; display: flex; height: 122px; z-index: 1000; }

#logo > a { display: block; }

/* Header - sub page */
#header.s_header { position: absolute; }

    /* 반응형 */
    @media screen and (max-width: 750px) {    
        /* Header */
        #header { height: 13.8667vw; }
        #header #logo { display: block; }
        #header #logo a { display: block; width: 38.5334vw; height: 6.5334vw; padding: 5.8667vw 0 0 2.8vw; background: url('../images/m_logo.png') no-repeat right bottom; background-size: 38.5334vw auto; }
        #header #logo a img { display: none; }
        #header #logo a.bk { background: url('../images/m_logo_bk.png') no-repeat right bottom; background-size: 38.5334vw auto; }
        #header .btn_menu { display: block; width: 6.9334vw; height: 8vw; padding: 5.8667vw 0 0 4vw; background: url('../images/m_menu.png') no-repeat right bottom; background-size: 6.9334vw auto; }
        #header .btn_menu img { display: none; }
        #header .btn_menu.bk { background: url('../images/m_menu_bk.png') no-repeat right bottom; background-size: 6.9334vw auto; }
    }


/* gnb */
#gnb_container { position: fixed; left: 0; top: 0; display: none; width: 100%; height: 100%; background: rgba(0,0,0,0.9); z-index: 2000; }
#gnb_container .gnb_logo { padding-left: 38px; }

#gnb_container > ul { position: absolute; left: 50%; top: 150px; transform: translateX(-50%); }
#gnb_container > ul > li.label > a { display: block; line-height: 100px; font-size: 72px; font-weight: 600; color: #ddd; letter-spacing: 0; }
#gnb_container > ul > li.label > a.current { color: #fff; transition: all 0.3s; }

#gnb_container .snb_wrapper { display: none; }
#gnb_container .snb_wrapper li a { position: relative; line-height: 50px; font-size: 24px; color: #aaa; letter-spacing: -0.025em; }
#gnb_container .snb_wrapper li a:after { position: absolute; left: 0; bottom: -1px; display: block; content: ''; width: 0; height: 2px; background: #aaa; }
#gnb_container .snb_wrapper li a:hover:after{ animation: ani-sn .3s forwards ease-in-out; }
    @keyframes ani-sn { 
        100% { width: 100%; }
    }
#gnb_container .btn_close { position: absolute; right: 37px; top: 50px; width: 36px; height: 36px; padding-top: 25px; font-size: 10px; text-align: center; color: #fff; text-transform: uppercase; background: url('../images/btn_close.png') no-repeat center 2px; box-sizing: border-box; }

    /* 반응 형 */
    @media screen and (max-width: 750px) {
        /* gnb */
        #gnb_container .gnb_logo { padding-left: 5.0667vw; }

        #gnb_container > ul { top: 30vw; }
        #gnb_container > ul > li.label > a { line-height: 1.5; font-size: 9.6vw; }

        #gnb_container .snb_wrapper li a { line-height: 2; font-size: 4.5vw; letter-spacing: 0; }
        #gnb_container .btn_close { right: 5.0667vw; }
    }


/* Body */
/* body : 가운데 선 : animation포함 */
#body_line { position: absolute; left: 0; top: 50%; width: 0; height: 1px; background: rgba(255,255,255,0.3); transform: translateY(-50%); }
#body_line.ani { animation: body_line 3s forwards; }
    @keyframes body_line {
        0% { width: 0; }
        100% { width: 100%; }
    }

/* body : contents 시작 */
#fullpage .section { position: relative; background-size: cover !important; }
#fullpage .section .main_text_wrapper { position: absolute; left: 50%; top: 50%; width: 100%; margin-top: 70px; text-align: center; transform: translate(-50%, -50%); opacity: 0; }
#fullpage .section .main_text_wrapper.ani { animation: m_text1 .5s forwards ease-in-out; }
    @keyframes m_text1 {
        100% { margin-top: -12px; opacity: 1; }
    }
#fullpage .section .main_text_wrapper .text1 { line-height: 28px; font-size: 28px; color: #fff; }
#fullpage .section .main_text_wrapper .text2 { line-height: 100px; margin: 19px 0 60px; font-size: 130px; font-weight: 600; color: #fff; }
#fullpage .section .main_text_wrapper .text3 { max-width: 650px; line-height: 32px; margin: 0 auto; font-size: 20px; color: #ddd; }

    /* 반응형 */
    @media screen and (max-width: 750px) {
        #fullpage .section .main_text_wrapper { margin-top: 70px; }        
            @keyframes m_text1 {
                100% { margin-top: 5vw; opacity: 1; }
            }

        #fullpage .section .main_text_wrapper .text1 { line-height: 0.7; font-size: 4.2267vw; letter-spacing: 0; }
        #fullpage .section .main_text_wrapper .text2 { line-height: 1.2; margin: 0; font-size: 10.6667vw; letter-spacing: 0; }
        #fullpage .section .main_text_wrapper .text3 { max-width: unset; line-height: 1.2; margin-top: 6vw; padding: 0 2vw; font-size: 4.2267vw; letter-spacing: 0; }

        
        #fullpage .section1 .main_text_wrapper .text3 { line-height: 0; margin-top: 7.6vw; }
        
        #fullpage .section3 .main_text_wrapper.ani { animation: m_text4 .5s forwards ease-in-out; }
            @keyframes m_text4 {
                100% { margin-top: 7.5vw; opacity: 1; }
            }       
        
    }

#fullpage .section .btn_more { position: absolute; right: 279px; bottom: 186px; display: flex; align-items: center; font-size: 20px; font-weight: 600; color: #fff; opacity: 0; }
#fullpage .section .btn_more.ani { animation: btn_more .5s .4s forwards; }
    @keyframes btn_more {
        100% { bottom: 206px; opacity: 1; }
    }
#fullpage .section .btn_more i { position: absolute; right: -28px; top: 0; margin-left: 14px; }
#fullpage .section .btn_more i.ani { animation: btn_more_arrow .5s 1s alternate infinite ease-in-out; }
#fullpage .section .btn_more i img { vertical-align: baseline; }
    @keyframes btn_more_arrow {
        100% { margin-right: -5px; }
    }

    /* 반응형 */
    @media screen and (max-width: 750px) {
        
        #fullpage .section .btn_more { right: 11.3334vw; bottom: 37.3334vw; font-size: 3.7334vw; }
        #fullpage .section .btn_more i { margin-top: 1vw; }
        #fullpage .section .btn_more.ani { animation: btn_more2 .5s .4s forwards; }
        
        @keyframes btn_more2 {
            100% { bottom: 42.8vw; opacity: 1; }
        }
    }
    @media screen and (max-width: 750px) {
        #fullpage .section .btn_more i { margin-top: 0.5vw; }
    }



#fp-nav:after { position: absolute; right: 0; top: 50%; display: block; width: 23px; content:'05'; margin-top: 24px; font-size: 14px; font-weight: 600; color: #fff; text-align: center; opacity: 0.2; transform: translateY(-50%); }

/* 반응형 */
@media screen and (max-width: 750px) {
    #fp-nav { margin-top: -2.9334vw !important; }
    #fp-nav:after { margin-top: 5.3vw; font-size: 2.9334vw !important; }
    #fp-nav ul li .fp-tooltip { font-size: 2.9334vw !important; }
}




#fullpage .section1 { background: url('../images/main_img01.jpg') no-repeat center center; }
#fullpage .section1 .main_text_wrapper { margin-top: -25px; opacity: 0; }
#fullpage .section1 .main_text_wrapper.ani { animation: m_text2 3s .3s forwards ease-in-out; }
@keyframes m_text2 {
    100% { opacity: 1; }
}

#fullpage .section1 .main_text_wrapper .text1 { font-weight: 600; }
#fullpage .section1 .ck_logo { position: absolute; right: 311px; bottom: 245px; z-index: 10; }

#fullpage .section2 { background: url('../images/main_img02.jpg') no-repeat center center; }
#fullpage .section3 { background: url('../images/main_img03.jpg') no-repeat center center; }
#fullpage .section4 { background: url('../images/main_img04.jpg') no-repeat center center; }
#fullpage .section5 { background: url('../images/main_img05.jpg') no-repeat center center; }


/* 반응형 */
@media screen and (max-width: 750px) {

    #fullpage .section1 .main_text_wrapper { margin-top: -8vw; opacity: 0; }
    
    #fullpage .section1 .ck_logo { right: 14.2667vw; bottom: 49.8667vw; width: 25.8667vw; }
    #fullpage .section1 .ck_logo img { width: 100%; }

    
    #fullpage .section1 { background-size: auto 100%; }
    #fullpage .section2 { background-size: auto 100%; }
    #fullpage .section3 { background-size: auto 100%; }
    #fullpage .section4 { background-size: auto 100%; }
    #fullpage .section5 { background-size: auto 100%; }

}


/* Footer */
#footer { position: fixed; left: 0; bottom: 0; width: 100%; height: 124px; background: #111; z-index: 1000; }
#footer address { display: flex; align-items: center; height: 100%; margin-left: 45px; font-size: 16px; font-weight: 400; font-style: normal; color: #ddd; }
#footer address > a { display: inline-block; font-size: 16px; font-weight: 400; font-style: normal; color: #ddd; }
#footer address > span { padding: 0 9px 2px 9px; font-size: 10px; color: #ccc; }

#footer .f_right_container { position: absolute; right: 40px; top: 50%; display: flex; transform: translateY(-50%); }
#footer .f_right_container .slectbox_type1 { width: 190px; height: 46px; border-color: #ccc; border-radius: 3px; }
#footer .f_right_container .slectbox_type1:first-child { margin-right: 10px; }
#footer .f_right_container .slectbox_type1 .current { line-height: 46px; padding-left: 20px; font-size: 16px; color: #fff; text-align: left; }
#footer .f_right_container .slectbox_type1 > ul { bottom: 46px; background: #111; border-color: #ccc; border-radius: 3px 3px 0 0; }
#footer .f_right_container .slectbox_type1 > ul > li > a { line-height: 46px; padding-left: 20px; font-size: 16px; color: #fff; text-align: left; }

#footer.s_footer { position: relative; left: auto; bottom: auto; }

    /* 반응형 */
    @media screen and (max-width: 1220px) {
        /* Footer */
        #footer { height: 124px; }
        #footer address { height: 60%; }
        #footer .f_right_container { right: 45px; top: auto; bottom: 10px; transform: translateY(0); }
    }
    @media screen and (max-width: 750px) {
        /* Footer */
        #footer { height: 35.4667vw; padding: 0 4.8vw; box-sizing: border-box; }
        #footer address { display: block; height: auto; line-height: 3.7334vw; margin-left: 0; margin: 0 0 2vw; padding: 2vw 0 1.3334vw; font-size: 2.6667vw; }
        #footer address > a { display: inline-block; font-size: 2.6667vw; }
        #footer address > p { display: inline-block; font-size: 2.6667vw; }
        #footer address > span { display: inline-block;  padding: 0 0.667vw 0.667vw 0.667vw; font-size: 2.6667vw; }

        #footer .f_right_container { position: relative; right: auto; top: auto; display: block; transform: translateY(0); }
        #footer .f_right_container .slectbox_type1 { width: 100%; height: 9.0667vw; border-radius: 0.4vw; }
        #footer .f_right_container .slectbox_type1:first-child { margin-right: 0; margin-bottom: 2.9334vw; }
        #footer .f_right_container .slectbox_type1 .current { line-height: 9.0667vw; padding-left: 2.9334vw; font-size: 2.9334vw; background-position-x: 97%;}
        #footer .f_right_container .slectbox_type1 > ul { bottom: 9.0667vw; border-radius: 0.4vw 0.4vw 0 0; }
        #footer .f_right_container .slectbox_type1 > ul > li > a { line-height: 9.0667vw; padding-left: 2.9334vw; font-size: 2.9334vw; }
    }


/* 셀렉트박스 타입 1 : 설정  */
.slectbox_type1 { position: relative; border: 1px solid red; }
.slectbox_type1 .current { display: block; background: url('../images/main_arrow-down.png') no-repeat 90% center; }
.slectbox_type1 > ul { position: absolute; left: -1px; display: none; width: 100%; border: 1px solid red; }
.slectbox_type1 > ul > li > a { display: block; }


/* 레이어팝업 : 개인정보처리방침, 이메일무단수집거부 */
#layer_bg { position: fixed; left: 0; top: 0; display: none; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 3000; }

#layer_popup { position: fixed; left: 50%; top: 50%; display: none; background: #fff; border: 2px solid #346ce5; border-radius: 0 0 20px 20px; box-sizing: border-box; 
    transform: translate(-50%,-50%); z-index: 3001; }
#layer_popup .title { height: 59px; line-height: 61px; padding: 0 20px; font-size: 25px; font-weight: 600; color: #fff; background: #346ce5; }
#layer_popup .btn_x { position: absolute; right: 20px; top: 20px; }

#layer_popup .layer_inner { height: calc(100% - 59px); padding: 40px 38px; box-sizing: border-box; overflow-y: auto; }
#layer_popup .top_area { line-height: 28px; padding: 20px; font-size: 16px; color: #666; background: #f6f6f6; border: 1px solid #eaecf0; }
#layer_popup dl { margin-top: 35px; word-break: keep-all; }
#layer_popup dl dt { line-height: 28px; margin: 0 0 7px; font-size: 16px; font-weight: 600; color: #333; }
#layer_popup dl dd { line-height: 28px; font-size: 16px; color: #666; }

.layer_pop_email { width: 1140px; height: 510px; }

.layer_pop_privacy { width: 1140px; height: 80%; }

    /* 반응형 */
    @media screen and (max-width: 750px) {            
        /* 레이어팝업 : 개인정보처리방침, 이메일무단수집거부 */
        #layer_popup .title { height: 10.6667vw; line-height: 10.6667vw; padding: 0 2.6667vw; font-size: 4.6667vw; }
        #layer_popup .btn_x { right: 2.6667vw; top: 3.3334vw; width: 4vw; }
        #layer_popup .btn_x > img { width: 100%; }

        #layer_popup .layer_inner { height: calc(100% - 80px); padding: 4vw; box-sizing: border-box; overflow-y: auto; }
        #layer_popup .top_area { line-height: 1.2; padding: 2.6667vw; font-size: 3.7334vw; }

        #layer_popup dl { margin-top: 5vw; }
        #layer_popup dl dt { line-height: 1.2; margin: 0 0 1.3334vw; font-size: 3.7334vw; }
        #layer_popup dl dd { line-height: 1.2; font-size: 3.7334vw; }

        .layer_pop_email { width: 90%; height: 80%; }

        .layer_pop_privacy { width: 90%; height: 80%; }        
    }



/* 체크박스 */
input[type=checkbox] { display: none; }
input[type=checkbox] + label { position: relative; margin-left: 25px; cursor: pointer; }
input[type=checkbox] + label:before { position: absolute; left: -25px; top: 1px; display: 
block; content: ''; width: 20px; height: 20px; background: url('../images/icon_checkbox.png') no-repeat left top; }
input[type=checkbox]:checked + label:before { background: url('../images/icon_checked.png') no-repeat left top;}


    /* 반응형 */
    @media screen and (max-width: 750px) {
        /* 체크박스 */
        input[type=checkbox] + label { margin-left: 4.6667vw; }
        input[type=checkbox] + label:before { left: -4.2667vw; top: 0.8vw; width: 3.7334vw; height: 3.7334vw; background-size: cover; }
        input[type=checkbox]:checked + label:before { background-size: cover; }
        
    }