@charset "utf-8";


/* Header */
#header { position:fixed; left:0; top:0; display:block; width:100%; border-bottom:1px solid #eee; z-index:100; }

#header.h_wh { background:#fff; }
#header.h_op { background:rgba(255,255,255,0.75); }

.h_inner { position:relative; display:block; width:1200px; height:89px; margin:0 auto; }
.h_inner:after { display:block; content:''; clear:both; }

.h_inner .logo { display:block; float:left; }
.h_inner .gnb { display:block; float:left; }
.h_inner .gnb .snb_area { position:absolute; display:none; left:50%; top:89px; width:1920px; height:645px; margin-left:-960px; z-index:100; }
.h_inner .right_top { position:absolute; right:0; top:0; z-index:100; }


#search_area { position:absolute; display:block; right:-756px; top:50%; margin-top:-238px; z-index:107; cursor:pointer; }

#gn_bg { position:absolute; left:0; top:0; display:none; width:100%; height:100%; background: rgba(0,0,0,0.5); z-index:99; }




/* 공통사항 */
#pagepiling .section .pp-tableCell > img { width:100%; }
#pagepiling .pp-scrollable > img { width:100%; }


/* section1 */
.section1 .main_banner { position:absolute; left:0%; bottom:0; display:block; width:100%; height:140px; background: rgba(0,178,186,0.5); z-index:100; }
.section1 .main_banner a { position:absolute; left:50%; bottom:0; display:block; width:1200px; height:140px; margin-left:-600px; }
.section1 .main_banner a .no-over { position:absolute; left:0; bottom:0; display:block; }
.section1 .main_banner a .over { position:absolute; left:0; bottom:0; display:none; }




.section1  .swiper-container { position:relative; }

.section1 .swiper-slide .over_img { position:absolute; display:block; left:0; top:0; z-index:70;  }


/* section2 */
.section2 { background:#fafafa; }
.section2 .twink { position:absolute; display:block; z-index:1; }
.section2 .twink img { position:absolute; display:block; left:0; top:0; right:0; bottom:0; margin:auto; }
.section2 .twink1 { animation:twink1 .5s ease-in-out forwards; }
.section2 .twink2 { animation:twink2 .7s .1s ease-in-out forwards; }
.section2 .twink3 { animation:twink3 .5s .2s ease-in-out forwards; }
.section2 .twink4 { animation:twink4 .8s .3s ease-in-out forwards; }
.section2 .twink5 { animation:twink5 1s .4s ease-in-out forwards; }
@keyframes twink1 { 
    0% { width:0; right:300px; top:-100px; opacity:0; }
    50% { opacity:0.2; }
    100% { width:51px; height:59px; right:300px; top:150px; opacity:1; }
}
@keyframes twink2 { 
    0% { width:0; left:300px; top:-100px; opacity:0; }
    50% { opacity:0.2; }
    100% { width:63px; height:72px; left:300px; top:800px; opacity:1; }
}
@keyframes twink3 { 
    0% { width:0; right:400px; top:-100px; opacity:0; }
    50% { opacity:0.2; }
    100% { width:50px; height:57px; right:400px; top:200px; opacity:1; }
}
@keyframes twink4 { 
    0% { width:0; left:133px; top:-100px; opacity:0; }
    50% { opacity:0.2; }
    100% { width:336px; height:389px; left:133px; top:100px; opacity:1; }
}
@keyframes twink5 { 
    0% { width:0; right:400px; top:-100px; opacity:0; }
    50% { opacity:0.2; }
    100% { width:105px; height:121px; right:350px; top:800px; opacity:1; }
}








.section2 .title { position:absolute; display:block; left:0; top:178px; width:100%; text-align:center; }
.section2 .title .text1 { font-size:52px; font-weight:600; color:#222; letter-spacing:-0.05em; }
.section2 .title .text2 { margin-top:30px; font-size:18px; font-weight:300; color:#666; letter-spacing:-0.02em;  }

.section2 .swiper-container_h { width:1545px !important; height:540px; margin-top:300px !important; padding-bottom:150px; margin-left:375px; }

.section2 .swiper-container_h .swiper_control { position:absolute; left:480px; bottom:5px; display:block; height:56px; text-align:center; z-index:100; }
.section2 .swiper-container_h .swiper_control a { display:inline-block; width:36px; height:23px; margin:0 10px; vertical-align:middle; }
.section2 .swiper-container_h .swiper_control .swiper-prev { background: url('../images/main_visual_02_prev.png') no-repeat left top; }
.section2 .swiper-container_h .swiper_control .swiper-next { background: url('../images/main_visual_02_next.png') no-repeat left top; }
.section2 .swiper-container_h .swiper_control .swiper-play { display:none; width:62px; height:60px; background: url('../images/main_visual_02_play.png') no-repeat left top; }
.section2 .swiper-container_h .swiper_control .swiper-pause { width:62px; height:60px; background: url('../images/main_visual_02_pause.png') no-repeat left top; }

.section2 .swiper-container_h .swiper-pagination_h { top:auto; bottom:90px; }

.section2 .swiper-pagination-progressbar .swiper-pagination-progressbar-fill { background:#00bcb7 !important; }
.section2 .swiper-pagination-progressbar .swiper-pagination-progressbar-fill:before { position:absolute; right:0; top:-11px; display:block; width:20px; height:23px; content:''; background: url('../images/pagi_point.png') no-repeat right center; }

.section2 .swiper-container_h .swiper-slide { height:540px !important; cursor:pointer; }
.section2 .swiper-container_h .swiper-slide .on { display:none; }
.section2 .swiper-container_h .swiper-slide .not_on img { position:absolute; left:0; top:0; bottom:0; margin:auto; }

.section2 .swiper-container_h .swiper-slide-active { width:420px !important; margin-right:23px !important; }
.section2 .swiper-container_h .swiper-slide-active .on { display:block; box-shadow:5px 5px 45px #bbb; }
.section2 .swiper-container_h .swiper-slide-active .not_on { display:none; }


/* section3 */

/* section4 */
.section4 { background:url('../images/main_visual_04.jpg') no-repeat left center, #fff; }


.swiper-container_h2 { margin-bottom:140px !important; overflow:visible !important; }
.swiper-container_h2 .swiper-slide { border-right:1px solid #eee; box-sizing:border-box; }

.swiper-container_h2 .swiper_control2 { position:absolute; left:0; bottom:-90px; display:block; height:56px; text-align:center; z-index:100; }
.swiper-container_h2 .swiper_control2 a { display:inline-block; width:56px; height:56px; margin:0 10px; }
.swiper-container_h2 .swiper_control2 .swiper-prev { background: url('../images/main_visual_04_prev.png') no-repeat left top; }
.swiper-container_h2 .swiper_control2 .swiper-next { background: url('../images/main_visual_04_next.png') no-repeat left top; }

/* section5 */



/* Body */

/* Footer */
#footer { display:none; }


#quick_btn_area { position:fixed; display:none; right:0; top:50%; margin-top:-263px; cursor:pointer; z-index:105; box-shadow:5px 5px 30px #666; }

#quick_box { position:fixed; display:none; right:-402px; top:0; z-index:105; cursor:pointer; box-shadow:5px 5px 30px #666;  }