@charset "utf-8";

#sub_layout { position:relative; display:block; }

#sub_layout .select_box { position:absolute; right:60px; top:80px; display:block; }

.select_box .s_title { display:block; line-height:44px; margin-top:50px; font-size:17px; font-weight:600; color:#999; }

.select_box dl { display:block; width:360px; min-height:154px; padding:10px 0 15px 30px; border:1px solid #000; }
.select_box dl dt { display:block; line-height:60px; margin:0 0 10px; font-size:25px; font-weight:600; color:#000; border-bottom:1px solid #eee; }


.select_box input[type=checkbox] { position:absolute; left:0; top:0; width:1px; height:1px; margin:0; padding:0; border:none; overflow:hidden; clip:rect(0 0 0 0); }
.select_box label { display:inline-block; height:16px; line-height:16px; padding-left:21px; font-weight:500; background:url('../images/check_box.jpg') no-repeat left 0; vertical-align:middle; }

.select_box input[type="checkbox"]:checked + label{ background-position: 0 -16px; }

.select_box dl dd ul { display:block; }
.select_box dl dd ul li { display:inline-block; width:49%; line-height:35px; }
.select_box dl dd ul li.all { width:100%; }


.select_box .cate02, .select_box .cate03 { border-bottom:none; }


#sub_layout .sub_img01 { display:block; }
#sub_layout .sub_img02 { display:none; }




@media screen and (max-width:1600px) {

    #sub_layout .select_box { right:20px; top:20px;  }

    .select_box .s_title { margin-top:20px; }

    .select_box dl { width:300px; padding:10px 0 15px 30px; }
    .select_box dl dt { line-height:50px; font-size:23px; }

}