/* 폰트 설정 */
@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }

/* 전체 설정 */
#wrap { position:relative; display:block; width:100%; height:100%; box-sizing:border-box; }

/* BG 설정 */
#bg_layer { display:block; width:100%; }

/* Header */
#header { position:fixed; left:50%; top:0; display:block; width:100%; z-index:100; }
#header img { vertical-align:middle; }

#logo { position:absolute; left:0px; top:0; display:block; margin-left:40px; z-index:100; }
#logo a { display:block; }

#right_menu { position:absolute; display:block; right:0; top:0; z-index:99; }

#header .m_icon_search { display:none; }
#header .gnb_menu { position:absolute; display:block; left:0; top:80px; margin-left:40px; z-index:100;  }


/* GNB */
#gnb { position:fixed; display:inline-block; left:50%; top:50%; background: #fff; z-index:102; }
#gnb ul { display:block; width:100%; height:100%; }
#gnb ul li { position:relative; display:block; height:20%; }
#gnb ul li a { display:block; height:100%; font-size:52px; font-weight:900; color:#666; text-align:center; letter-spacing:-0.025em; background:#fff; border-bottom:1px solid #eee; box-sizing:border-box; }
#gnb ul li .over_charactor { position:absolute; right:0; bottom:0; opacity:0; z-index:11; }

#gnb ul li:nth-child(2):hover a { color:#fff; background:url('../images/gnb_bg1.gif') repeat; transition:all .55s ease; }
#gnb ul li:nth-child(2):hover .over_charactor { opacity:1; transition:all .7s ease; }


#gnb .btn_close { position:absolute; left:0; top:0; z-index:100; }


#m_gnb { display:none; }

/* Content */
#main_content { display:block; overflow:hidden; }

.content_outline { position:relative; }
.content_outline .con_txt { position:absolute; display:block; left:0; top:0; background:rgba(0,0,0,0.3); }
.content_outline .btn_vid_more { position:absolute; display:block; right:240px; bottom:135px; }


#pagepiling .section { text-align:center; }
#pagepiling .section .content_outline { position:relative; display:block; margin:0 auto; box-shadow:5px 5px 10px 1px rgba(0,0,0,0.3);  overflow:hidden; }


#pagepiling .section4 .content_outline .effect_box { position:absolute; right:-180px; top:0; box-shadow:-5px 5px 10px 1px rgba(0,0,0,0.1); cursor:pointer; }








#footer { position:fixed; left:50%; bottom:0; line-height:80px; font-size:13px; font-weight:300; color:#fff; text-align:center; z-index:100; }
#footer .btn_top { position:absolute; bottom:0; right:0; display:none; width:208px; height:120px; z-index:101; 
    animation:btn_top 1s cubic-bezier(0.77, 0, 0, 0.99) forwards; }
@keyframes btn_top {
    0% { bottom:-50px; }
    50% { bottom:15px; }
    100% { bottom:0px; }
}




.icon_scroll { position:fixed; bottom:99px; left:50%; width:40px; height:60px; margin-left:-20px; z-index:101; }
