@charset "utf-8";


#wrap { position:relative; display:block; width:100%; height:100%; max-width:720px; margin:0 auto; }

/* Header */
#header { position:fixed; left:0; bottom:0; z-index:100; border-top:1px solid #ddd; }
#header ul { display:block; }
#header ul:after { display:block; content:''; clear:both; }
#header ul li { display:block; float:left; width:20%; }
#header ul li a { display:block; }

#btn_menu { position:fixed; left:0; top:0; width:100%; overflow:hidden; z-index:100; }
#btn_menu a { display:block; width:20%; }

/* GNB */
#gnb_area { position:absolute; display:block; left:-350px; top:0; width:80%; height:100%; background: #fff; z-index:101; overflow:hidden; }
#gnb_area .deps_box { display:block; }
#gnb_area .deps1 { width:50%; float:left; }
#gnb_area .deps2 { width:50%; float:left; }

#gnb_area .deps1.effect1 { margin-left:-331px; transition:all 0.75s ease; }
#gnb_area .deps1.effect2 { margin-left:0; transition:all 0.75s ease; }


#gn_bg { position:absolute; display:none; width:100%; height:100%; background: rgba(0,0,0,0.5); z-index:100; }


/* 문의하기 내용 */
.swiper-slide .inquiry_box { position:relative; display:none; }
.swiper-slide .inquiry_box .chat_box { position:absolute; display:block; left:0; bottom:-100%; z-index:101;}

.swiper-slide .inquiry_box1 { display:block; }

.swiper-slide .btn_prev { position:absolute; left:0; top:0; display:none; width:20%; z-index:101; }

.swiper-slide .scroll_area { position:absolute; left:0; top:0; display:block; width:100%; overflow-y:auto; z-index:99; }

.swiper-slide2 { background: url('../images/inquiry_bg.jpg') no-repeat left top;}


/* 손가락 커서 */
#icon_pointer { position:fixed; display:block; right:4%; bottom:13%; width:13%; z-index:99; animation:pointer 1.2s infinite; }

@keyframes pointer {
    50% { right:7%; }
    100% { right:4%; }
}



/* Sub */
#sub_layout { position:relative; display:block; }
#sub_layout .sub_img01 { display:block; }
#sub_layout .sub_img02 { display:none; }

.btn_selectbox { display:block; }

.select_box { position:absolute; display:block; left:0; top:0; width:100%; height:100%; z-index:100; }

.select_box .checkbox_area { display:block; width:100%; padding:0 35px; background: #fff; box-sizing:border-box; overflow-y: auto; }
.select_box .checkbox_area .title { line-height:1.2; padding:45px 0 65px; font-size:2em; font-weight:300; color:#222;  }

.select_box .checkbox_area dl { display:block; margin:0 0 57px; padding:0 0 44px; border-bottom:1px solid #ddd; }
.select_box .checkbox_area dl dt { padding:0 0 32px; font-size:1.25em; font-weight:600; color:#222; }

.select_box .checkbox_area ul li { display:inline-block; width:48%; line-height:45px; }
.select_box .checkbox_area ul li.all { width:100%; }

.select_box .btn_close { display:block; }

.select_box .checkbox_area dl:last-child { margin:0; border:none; }



.select_box .checkbox_area input[type=checkbox] { position:absolute; left:0; top:0; width:1px; height:1px; margin:0; padding:0; border:none; overflow:hidden; clip:rect(0 0 0 0); }
.select_box .checkbox_area label { display:inline-block; height:16px; line-height:16px; padding-left:21px; font-size:1.125em; font-weight:400; background:url('../../images/check_box.jpg') no-repeat left 0; vertical-align:middle; }

.select_box .checkbox_area input[type="checkbox"]:checked + label{ font-weight:600; background-position: 0 -16px; }


.select_box .fixed_btn { position:fixed; display:block; left:0; bottom:0; width:100%; height:68px; border-top:1px solid #aaa; z-index:101; }
.select_box .fixed_btn:after { display:block; content:''; clear:both; }
.select_box .fixed_btn a { display:block; float:left; width:50%; line-height:68px; font-size:1.125em; font-weight:500; color:#888; text-align:center; background: #fff;  }
.select_box .fixed_btn a:last-child { color:#5659dd; border-left:1px solid #aaa; box-sizing:border-box; }
