/* 전체 설정 */
#wrap { position:relative; display:block; width:100%; height:100%; text-align:center; letter-spacing:-0.025em; box-sizing:border-box; }

/* Header */
#header { position:relative; display:block; width:100%; background:#fff; z-index:100;}
#header .h_inner { position:relative; display:block; width:1200px; margin:0 auto; border-bottom:2px solid #eee; z-index:100; }
#logo { display:inline-block; }

#header .left_top { display:block; float:left; }
#header .right_top { display:block; float:right; }

#header .bookmark { position:absolute; right:-150px; top:0; }

/* GNB */
#gnb { position:relative; width:100%; height:106px; background:#fff; z-index:100; }
#gnb ul { display:block; }
#gnb ul li { display:inline-block; }
#gnb ul li a { display:block; line-height:83px; padding:0 42px; font-size:26px; font-weight:900; color:#222; }
#gnb ul li:hover a { color:#da2f21; }

#gn_menu { position:absolute; display:none; left:0; top:83px; width:100%; height:353px; z-index:100; background:#f8f8f8; }

#gn_bg { position:fixed; display:none; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:99; }


/* Search box */
#search_area { position:absolute; left:50%; top:140px; display:none; width:1200px; height:660px; margin-left:-600px; background: url('../images/search_img.jpg') no-repeat left top; z-index:101; }

#search_area .choice_box { position:absolute; display:block; right:110px; top:60px; width:504px; }
#search_area .choice_box ul:after { display:block; content:''; clear:both; }
#search_area .choice_box ul { border-radius:5px; overflow:hidden; }
#search_area .choice_box ul li { float:left; width:20%; border-right:1px solid #ddd; box-sizing:border-box; }
#search_area .choice_box ul li a { display:block; line-height:60px; font-size:18px; font-weight:600; color:#222; background: #f4f4f4; }

#search_area .choice_box ul li:last-child { border:none; }

#search_area .choice_box ul li.on a { color:#fff; background: #11a4a0; border-radius:5px; }
#search_area .choice_box ul.subject li.on a { background: #f99116; }

#search_area .choice_box .red_search { display:block; width:500px; line-height:60px; margin:0 auto; font-size:24px; font-weight:600; color:#fff; background: #da2f21; border-radius:5px; }

#search_area .choice_box .return_subject { display:block; width:500px; line-height:70px; margin:6px auto 0; padding:0 10px; font-size:24px; font-weight:400; color:#222; border:none; border-bottom:1px solid #eee; box-sizing:border-box; }

#search_area .search_close { position:absolute; right:0; top:0; }

#search_area .subject_box { position:absolute; display:none; right:110px; top:60px; width:504px; }
#search_area .subject_box input[type=text] { display:inline-block; width:394px; line-height:60px; padding:0 30px; font-size:24px; font-weight:400; color:#222; background: #f4f4f4; border:none; border-radius:5px; box-sizing:border-box; vertical-align:top; }
#search_area .subject_box .red_search { display:inline-block; width:100px; line-height:60px; margin:0 auto; font-size:24px; font-weight:600; color:#fff; background: #da2f21; border-radius:5px; }

#search_area .subject_box .return_choice { display:block; width:500px; line-height:70px; margin:6px auto 0; padding:0 10px; font-size:24px; font-weight:400; color:#222; border:none; border-bottom:1px solid #eee; box-sizing:border-box; }



/* Contents */
.m_content01 { margin:0 0 80px; }
.m_content01 .tab_area { display:block; margin:0 0 60px; }
.m_content01 .tab_area a { display:inline-block; width:140px; line-height:37px; margin:0 9px; font-size:16px; font-weight:300; color:#666; border:1px solid #eee; border-radius:19px; }
.m_content01 .tab_area a.on { color:#fff; background:#ed1f46; border-color:#ed1f46; }
.m_content01 .tab_area:hover a { }


.m_content02 { position:relative; display:block; height:523px; margin:0 0 230px; background: #f5f5f5; }

.m_content04 { background: #f4f4f4;}

#sbody { background:#f7f7f7; border-top:1px solid #ddd; }


/* Foot & Quick */
#footer { display:block; width:100%; background:#000; }

#quick { position:fixed; right:50px; bottom:0; display:block; z-index:99; }
#inquiry { position:fixed; right:150px; top:0; display:none; z-index:103; }

/* 메인비쥬얼 효과  */
#main_visual img { display:inline-block; }
